body{
    background:linear-gradient(to right, rgb(98, 91, 128),white,rgb(255, 255, 179), rgb(159, 234, 159));
    font-family:'Times new roman' ;
}

.parent{
    position: relative;
    text-align: center;
 }
 .img{
   width:100%;
   height: 740px;
   opacity: 0.5;
 }
 .top-left{
    position: absolute;
    left:0;
    top:0;
    margin: 0 0 0 500px;
 }